.gwt
.idea
.settings
build
db
out
repo
target
temp
tmp

# Properties files that may contain secrets
catma*.properties

# Eclipse config files
.classpath
.project

# MS Office temp files
~$$*.*

# Mac
.DS_Store
project*.log
project*.csv
project*.ods
