src/main/webapp/catma_*.properties
src/main/java/catma_*.properties
WebContent/VAADIN/gwt-unitCache
WebContent/VAADIN/doubletreejs_debug
WebContent/VAADIN/themes/cleanew/styles.css
WebContent/apiusers.json
WebContent/catma_*.properties
src/main/resources/catma_*.properties
build
db/local/*
db/*.bak
dev
graphdb/test
notepad_session.txt
oldcode
out
repo
scratch.jpage
scratch.sql
temp
tmp
testlib
# MS Office temp files
~$$*.*
.classpath
.gwt
.project
.settings
target
.idea
.DS_Store
