WebContent/VAADIN/gwt-unitCache
WebContent/VAADIN/doubletreejs_debug
WebContent/apiusers.json
WebContent/catma_mp.properties
db/local/*
testlib
testdocs
notepad_session.txt
tmp
scratch.jpage
scratch.sql
.gwt
.classpath
.settings
.project
oldcode
build
db/*.bak
repo
temp
graphdb/test
WebContent/VAADIN/themes/cleanew/styles.css
