@import "default.scss";
@import "../contextmenu/contextmenu.scss";

@include contextmenu;

.cleanew {
  @include cleanew;
  
  	.menuPanel {
  		border-radius: 0;
  	}
  	
  	.catma-menu .v-menubar-menuitem-highlight {
	    background: #E6E9EB;
	    color: #000;
	}
	  
  	.contentPanel {
  		padding: 10px !important;
  		border-radius: 0;
  	}
  
  	.defaultContentPanelLabel {
  		text-align: center;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
  	}

	.wizard > .v-verticallayout > .v-expand > .v-slot[style="height: 100%;"] {
		height: 98%!important;
	}

	.wizard > .v-verticallayout > .v-expand > .v-align-bottom {
		padding-top: 10px;
	}

	.wizardry {
		padding: 10px;	
	}
	
	.v-panel-preview-panel {
		margin-top: 24px;	
	}

	.v-panel.v-widget.no-border.v-panel-no-border.v-has-width {
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.v-margin-bottom {
		padding-bottom: 12px;
	}

	.v-tabsheet-tabitemcell .v-caption {
		border-top: 2px solid transparent;
		border-bottom: none;
		text-overflow: inherit;
	}

	.popupContent > .v-window-wrap > .v-window-contents > .v-scrollable > .v-verticallayout > .v-expand > .v-slot > .v-panel {
		border:none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.v-tabsheet-tabitemcell .v-tabsheet-tabitem-selected .v-caption.v-caption {
		color: #8AB8CF;
		background-color: white;
		border-left: 1px solid #dfdfdf;
		border-right: 1px solid #dfdfdf;
		border-top: 1px solid #dfdfdf;
		padding: 0px 20px;
	}
	
	.v-splitpanel-second-container-catma-tab-spacing {
		padding: 10px 0px 0px 0px;
	}
	
	.v-tabsheet-tabitemcell .v-caption:hover {
		color: #8AB8CF;
	}
	
	.v-slot-catma-label-spacing {
		 padding: 10px 0px 5px 0px;
	}
	
	.analyzer-panel-padding {
		padding: 10px;
	}
	
	.catma-menu:focus:after {
		border: 0px;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
	
	.modal-button-container {
		padding: 0px 10px 0px 0px;
	}
			
	.v-tabsheet-tabitemcell .v-tabsheet-caption-close {
		right: 3px;
	}

	.v-slot-light > .v-panel {
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	
	.catma-tagger-panels {
		padding: 0px 0px 10px 10px;
	}
	
	.v-slot-catma-tagger-markup-panels {
		padding: 0px 0px 5px 10px;
	}
	
	.pager-pageinput {
		width: 43px;
		text-align: center;
	}

	.v-slot > .v-button {
		white-space: normal;	
	}

	.v-button {
		padding: 5px 10px;
		height: auto;
		font-size: 12px;
	}

	.v-table-caption-container {
		padding: 10px 10px 10px;
		min-height: 0px;
	}

	.v-tabsheet-tabcontainer {
		padding-left: 10px;
	}

	.tagger {
		height: 100% !important;
		border-bottom: 1px solid #C5C5C5;
		border-left: 1px solid #C5C5C5;
		padding: 20px;
		font-family: Arial Unicode MS, Arial, sans-serif;
		font-size: 12px;
		color: #000;
		white-space: nowrap;
		overflow: auto;
		-webkit-user-select: text;
		-khtml-user-select: text;
		-moz-user-select: text;
		-o-user-select: text;
		user-select: text; 
	}

	.v-window-contents > .v-scrollable > .v-has-height > .v-expand {
		overflow: visible;
		padding-bottom: 15px;
	}
	
	.v-scrollable > .v-has-height > .v-expand {
		overflow: auto;
	}

	.v-splitpanel-first-container * .v-caption {
		border-top: none;
	}

	.v-horizontallayout > .v-expand > .v-slot-bold-label > .v-label-bold-label[style="width: 100%;"] {
		padding-top: 10px;
	}

	.v-verticallayout .expert-features {
		padding-left:50px;
		padding-top:10px;
	}
	.distributionchartviewpanel .v-slot {
		height: 100%;
	}
	
	.distributionchartviewpanel .v-expand {
		height: auto;
	}
	
	.distributionchartviewpanel .v-scrollable > .v-widget {
 	 	overflow: visible;
	}
	
	.distributionchartviewpanelzoom {
	/*	zoom: 50%;*/
	    -moz-transform: scale(0.5);
	}
	
	.v-table-cell-content-rtl-field {
		direction: rtl;
	}
	
	.hidden-caption-c-slider .v-caption-c-clider {
		display: none;
	}
	
	.v-button-primary-button {
		background: #5A98A1;
		border: 1px solid #5A98A1;
		color: #fff;
		box-shadow: none;
	}
	
	.v-button-secondary-button {
		background: #9FB3BF;
		border: 1px solid #9FB3BF;
		color: #fff;
		box-shadow: none;
	}
	
	.v-tree-node-selected {
		color: #000;
	}
	
	.v-tree-node-selected:after {
		background: #E6E9EB;
	}
	
	.v-table [class*="-row"].v-selected {
		background: #BBD7EA;
		color: #000;
	}
	
	.v-table .v-selected[class*="-row"] + .v-selected {
		background: #BBD7EA;
		color: #000;
	}
	
	.v-menubar > .v-menubar-menuitem-selected {
		background: #E6E9EB;
		color: #000;
	}
	
	.v-splitpanel-first-container-repository-panels .v-panel.v-widget.v-has-width.v-has-height {
		border: 0px;
		box-shadow: none;
	}
	
	.v-splitpanel-second-container-repository-panels .v-panel.v-widget.v-has-width.v-has-height {
		border: 0px;
		box-shadow: none;
	}
	
	.help-padding-fix {
		padding-right: 10px;
	}
	
	span.v-button-wrap div.gwt-HTML span {
		position: absolute;
		top: 2px;
		width: 80%;
		height: 80%;
		border-radius: 3px;
		left: -1px;
	}
	
	.help-button {
		background: none;
		border: none;
		box-shadow: none;
	}
	
	.help-button:focus:after {
		border: 0px;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
	
	.help-button img {
		margin-bottom: 3px;
	}	
	
	.help-windows .v-window-outerheader {
		background: #78909C!important;
	}
	
	.help-windows .v-window-restorebox, .help-windows  .v-window-maximizebox, .help-windows .v-window-closebox {
		background: none;
		color: #fff;
	}
	
	.help-windows .v-window-header {
		color: #fff;
	}
	
		
	.similarity-slider .v-expand .v-align-center {
		text-align: inherit;
	}
	
	table.taggerline-table {
		border-spacing: 0;
    	border-collapse: collapse;
	}
	
	.taggerline-table td {
		padding:0px;
    	white-space: pre;
	}
	
	.tagger-display-layer {
		border:none;
	}
	
	.annotation-layer {
		-webkit-touch-callout: none;
  		-webkit-user-select: none;
  		-khtml-user-select: none;
  		-moz-user-select: -moz-none;
  		-ms-user-select: none;
  		user-select: none;
	}
	
	.annotation-layer td {
		line-height: 8px;
	}
	
	.highlight-layer {
		-webkit-touch-callout: none;
  		-webkit-user-select: none;
  		-khtml-user-select: none;
  		-moz-user-select: -moz-none;
  		-ms-user-select: none;
  		user-select: none;
	}
	
	
	.highlight-layer td {
		line-height: 8px;
	}
	
	.empty-highlight-layer {
		border-bottom: 1px solid white;
		border-top: 1px solid white;
	}
	
	.highlighted-content {
		/* background-image: -webkit-radial-gradient(yellow 30%, red 70%);
	    background-image: -moz-radial-gradient(yellow 30%, red 70%);
	    background-image: -ms-radial-gradient(yellow 30%, red 70%);
	    background-image: -o-radial-gradient(yellow 30%, red 70%);
	    background-image: unquote("radial-gradient(yellow 30%, red 70%)"); */
	    background-image: -webkit-linear-gradient(to top, red, yellow 50%, red);
	    background-image: -moz-linear-gradient(to top, red, yellow 50%, red);
	    background-image: -ms-linear-gradient(to top, red, yellow 50%, red);
	    background-image: -o-linear-gradient(to top, red, yellow 50%, red);
	    background-image: unquote("linear-gradient(to top, red, yellow 50%, red)");
	    
	}
	
	.selection-layer {
		-webkit-touch-callout: none;
  		-webkit-user-select: none;
  		-khtml-user-select: none;
  		-moz-user-select: -moz-none;
  		-ms-user-select: none;
  		user-select: none;
	}
	
	
	.selection-layer td {
		line-height: 8px;
	}
	
	.empty-selection-layer {
		border-bottom: 1px solid white;
		border-top: 1px solid white;
	}
	
	.selected-content {
/*		background-image: -webkit-radial-gradient(white 30%, #0078D7 70%);
	    background-image: -moz-radial-gradient(white 30%, #0078D7 70%);
	    background-image: -ms-radial-gradient(white 30%, #0078D7 70%);
	    background-image: -o-radial-gradient(white 30%, #0078D7 70%);
	    background-image: unquote("radial-gradient(white 30%, #0078D7 70%)"); */
	    
		background-image: -webkit-linear-gradient(to top, #0078D7, white 50%, #0078D7);
	    background-image: -moz-linear-gradient(to top, #0078D7, white 50%, #0078D7);
	    background-image: -ms-linear-gradient(to top, #0078D7, white 50%, #0078D7);
	    background-image: -o-linear-gradient(to top, #0078D7, white 50%, #0078D7);
	    background-image: unquote("linear-gradient(to top, #0078D7, white 50%, #0078D7)");
	    
	}
	
	.segmentation-layer {
		-webkit-touch-callout: none;
  		-webkit-user-select: none;
  		-khtml-user-select: none;
  		-moz-user-select: -moz-none;
  		-ms-user-select: none;
  		user-select: none;
	}
	
	tr.segmentation-layer {
		line-height: 5px;
		background:#FFFFFF;
		color:#FFFFFF;
	}
	
	.segmentation-layer td {
		overflow: hidden;
	}
	
	.unselected-tag-instance {
		border-bottom: 1px solid white;
		border-top: 1px solid white;
		cursor:pointer;
	}
	
	.empty-annotation-layer {
		border-bottom: 1px solid white;
		border-top: 1px solid white;
	}
	
	.selected-tag-instance-black {
		border-bottom: 2px solid black;
		border-top: 1px solid white;
		outline:none;
    }
    
    .selected-tag-instance-red {
		border-bottom: 2px solid red;
		border-top: 1px solid white;
		outline:none;
    }
    
}
