@import url(../reindeer/styles.css);

.catma-mainwindow {
	background-image: url(logo.gif);
	background-repeat:no-repeat;
	background-position:center;
}

.tagger {
	outline: 1px solid #ddd;
	margin: 20px;
	padding: 5px;
	white-space:nowrap;
	overflow: auto ! important;
}

.bold-label {
	font-weight:bold;
}

.v-caption-bold-label-caption .v-captiontext {
	font-weight:bold;
}

.v-gridlayout-taglibrary-action-grid .v-gridlayout-spacing-on {
	padding-top:7px;	
}

.v-gridlayout-margin-top {
	padding-top:10px;
}

.v-table-header-wrap {
	text-transform:none;
	font-weight: normal;
}

.v-table-cell-wrapper .v-icon {
	padding-right:5px;
}

.v-panel-caption-editor-panel {
	text-align: center;
}

.centered-bold-text {
	text-align: center;
	font-weight: bold;
}

.centered-text {
	text-align: center;
}

.pager-pageinput {	
	text-align: right;
}

.tagmenu-popup {
	z-index: 11000;
}

.v-formlayout-contentcell .v-textfield {
	width: 90%;
}

.progress_window .v-window-outerheader {
	visibility: hidden;
	height: 0px;
	padding: 0px;
}

.progress_window .v-window-footer {
	visibility: hidden;
	height: 0px;
	padding: 0px;
}

.progress_window {
	z-index: 40000;
}

.v-treetable-treespacer {
	position: static;
}

.v-button-icon-button {
	margin-top:5px;
	margin-right:5px;
}
/*
.v-button-icon-button:focus {
	background-image: none;	
}

.v-button-icon-button:focus .v-button-wrap {
	background-image: none;	
}

.v-button-icon-button .v-button-wrap {
	background-image: none;	
}

.v-button-icon-button {
	background-image: none;	
}
*/
}