@import url(../reindeer/styles.css);

.v-tagger {
	outline: 1px solid #ddd;
	border-top: 1px solid #fff;
	padding: 20px;
	background: #f0f0f0;
}

.tag_green {display:inline-block; border-bottom:5px; border-bottom-color:green;border-bottom-style:solid; }
.tag_lightgreen {display:inline-block; border-bottom:5px; border-bottom-color:#00ff00;border-bottom-style:solid; }
.tag_blue {display:inline-block; border-bottom:5px; border-bottom-color:blue;border-bottom-style:solid; }
.tag_red {display:inline-block; border-bottom:5px; border-bottom-color:red;border-bottom-style:solid; }
