@import url(../reindeer/styles.css);

.v-tagger {
	outline: 1px solid #ddd;
	border-top: 1px solid #fff;
	padding: 20px;
	background: #f0f0f0;
	white-space:nowrap;
}

.v-caption-repo-tree .v-captiontext {
	font-weight:bold;
}

.repo-title-label {
	font-weight:bold;
}
