<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="CatmaRepository">
  <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost/CatmaRepository</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
  <property name="hibernate.show_sql">true</property>
  <mapping class="de.catma.repository.db.model.DBUser"/>
  <mapping class="de.catma.repository.db.model.DBSourceDocument"/>
  <mapping class="de.catma.repository.db.model.DBUserSourceDocument"/>
  <mapping class="de.catma.repository.db.model.DBUserMarkupCollection"/>
  <mapping class="de.catma.repository.db.model.DBUserUserMarkupCollection"/>
  <mapping class="de.catma.repository.db.model.DBTagLibrary"/>
  <mapping class="de.catma.repository.db.model.DBUserTagLibrary"/>
  <mapping class="de.catma.repository.db.model.DBTagLibrary"/>
  <mapping class="de.catma.repository.db.model.DBTagsetDefinition"/>
  <mapping class="de.catma.repository.db.model.DBTagDefinition"/>
  <mapping class="de.catma.repository.db.model.DBPropertyDefinition"/>
  <mapping class="de.catma.repository.db.model.DBPropertyDefPossibleValue"/>
 </session-factory>
</hibernate-configuration>
