<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="catma">
  <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.connection.characterEncoding">UTF-8</property>
  <property name="hibernate.connection.useUnicode">true</property>
  
  <property name="hibernate.c3p0.min_size">15</property>
  <property name="hibernate.c3p0.max_size">500</property>
  <property name="hibernate.c3p0.timeout">1800</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <!-- <property name="hibernate.current_session_context_class">managed</property> -->
  
  <mapping class="de.catma.indexer.db.model.DBTerm"/>
  <mapping class="de.catma.indexer.db.model.DBPosition"/>
  <mapping class="de.catma.indexer.db.model.DBIndexTagReference"/>
  <mapping class="de.catma.indexer.db.model.DBIndexProperty"/>
 </session-factory>
</hibernate-configuration>
