<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>catma</display-name>
	<context-param>
		<description>
		Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>
	<session-config>
    	<session-timeout>120</session-timeout>
	</session-config>
	
	<servlet> 
		<servlet-name>CATMAProperties</servlet-name> 
		<servlet-class>de.catma.servlet.PropertiesInitializerServlet</servlet-class> 
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet> 
		<servlet-name>CATMADataSource</servlet-name> 
		<servlet-class>de.catma.servlet.DataSourceInitializerServlet</servlet-class> 
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>Clea</servlet-name>
		<servlet-class>de.catma.servlet.CatmaApplicationServlet</servlet-class>
		<!-- <servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>  -->
		<init-param>
			<param-name>UI</param-name>
			<param-value>de.catma.ui.CatmaApplication</param-value>
		</init-param>
		<init-param>
			<description>
			Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>de.catma.ui.CleaWidgetset</param-value>
		</init-param>
		<init-param>
			<param-name>closeIdleSessions</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>legacyPropertyToString</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- <async-supported>true</async-supported>  --> 
		
		<load-on-startup>3</load-on-startup>
	</servlet>
	
	<servlet> 
		<servlet-name>QuartzInitializer</servlet-name> 
		<servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class> 
		<init-param>
			<param-name>shutdown-on-unload</param-name>
			<param-value>true</param-value>
		</init-param>
         <init-param>
             <param-name>wait-on-shutdown</param-name>
             <param-value>true</param-value>
         </init-param>
         <init-param>
             <param-name>start-scheduler-on-load</param-name>
             <param-value>true</param-value>
         </init-param>
   		<load-on-startup>3</load-on-startup>
	</servlet>
	
	<servlet>  
    	<servlet-name>CatmaAPI</servlet-name>  
    	<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
    	<init-param>
        	<!-- Application class name -->
        	<param-name>org.restlet.application</param-name>
        	<param-value>de.catma.api.CatmaApiApplication</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>  
	
	<servlet> 
		<servlet-name>HeurecleaPeriodicExportInitializerServlet</servlet-name> 
		<servlet-class>de.catma.heureclea.HeurecleaPeriodicExportInitializerServlet</servlet-class> 
		<load-on-startup>4</load-on-startup>
	</servlet>
	
	<servlet> 
		<servlet-name>DBMaintenanceInitializerServlet</servlet-name> 
		<servlet-class>de.catma.repository.db.maintenance.DBMaintenanceInitializerServlet</servlet-class> 
		<load-on-startup>4</load-on-startup>
	</servlet>
	
	<servlet> 
		<servlet-name>UserManagerMaintenanceServlet</servlet-name> 
		<servlet-class>de.catma.servlet.UserManagerMaintenanceServlet</servlet-class> 
		<load-on-startup>4</load-on-startup>
	</servlet>
	
	<servlet-mapping>  
    	<servlet-name>CatmaAPI</servlet-name>  
		<url-pattern>/api/*</url-pattern>  
	</servlet-mapping>  
	
	<servlet-mapping>
		<servlet-name>Clea</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>/manual/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
