BASE_URL=http://localhost:8089

TEMP_DIR=/opt/jetty_temp

GITLAB_SERVER_URL=http://127.0.0.1:80
GITLAB_ADMIN_PERSONAL_ACCESS_TOKEN=<placeholder>

GIT_REPOSITORY_BASE_PATH=/data/catma/localgit

SQLITE_DB_BASE_PATH=/data/catma

DEV_MAIL_LOG_ONLY=true

RESET_PASSWORD_URL=http://localhost:8088/users/password/new
LOGOUT_URL=http://localhost:8089

API_GIT_REPOSITORY_BASE_PATH=/data/catma/localgit_api
API_HMAC_SECRET=<placeholder>
