<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
  <property name="hibernate.show_sql">true</property>
  <mapping class="de.catma.indexer.db.DBTerm"/>
  <mapping class="de.catma.indexer.db.DBPosition"/>
  <mapping class="de.catma.indexer.db.DBIndexTagReference"/>
 </session-factory>
</hibernate-configuration>
